# Node modules
node_modules/

# Build output
out/

# Logs
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Optional: pnpm store files
.pnpm-store/

# Environment / API keys
.env

TESTING.MD
PUBLISHING.MD
committor*
CHANGELOG.md
vsc-extension-quickstart.md

.vscode-test.mjs